language: android

branches:
  only:
    - develop

jdk:
  - oraclejdk8

android:
  components:
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-22.0.1

    # The SDK version used to compile your project
    - android-22

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-22

    # The system image for the emulator
    - sys-img-armeabi-v7a-android-22

script:
   - ./gradlew build connectedCheck

before_install:
  - chmod +x gradlew
