<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tvheadend.tvhclient"
    android:versionCode="11"
    android:versionName="1.4.4" >
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21" />
    <application 
        android:allowBackup="true"
        android:name="org.tvheadend.tvhclient.TVHClientApplication" 
        android:label="TVHClient" android:icon="@drawable/ic_launcher">
        <meta-data 
            android:name="android.app.default_searchable" 
            android:value=".SearchResultActivity" />
        <activity android:name="org.tvheadend.tvhclient.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.tvheadend.tvhclient.SearchResultActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name="org.tvheadend.tvhclient.SettingsManageConnectionsActivity" />
        <activity android:name="org.tvheadend.tvhclient.SettingsAddConnectionActivity" />
        <activity android:name="org.tvheadend.tvhclient.SettingsActivity"/>
        <activity android:name="org.tvheadend.tvhclient.PlaybackSelectionActivity" />
        <activity android:name="org.tvheadend.tvhclient.ExternalPlaybackActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="org.tvheadend.tvhclient.htsp.HTSService" android:enabled="true"/>
        <provider 
            android:name="org.tvheadend.tvhclient.SuggestionProvider" 
            android:authorities="org.tvheadend.tvhclient.SuggestionProvider" 
            android:exported="false" />
    </application>
</manifest>
