<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tvheadend.tvhclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.tvheadend.tvhclient.TVHClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.SearchResultActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.tvheadend.tvhclient.TVHClientApplication" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.tvheadend.tvhclient.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.startup.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tvhclient" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tvheadend.tvhclient.ui.search.SearchResultActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="org.tvheadend.tvhclient.ui.settings.SettingsActivity" />
        <activity
            android:name="org.tvheadend.tvhclient.data.remote.PlayActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="org.tvheadend.tvhclient.data.remote.DownloadActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name=".service.EpgSyncService"
            android:enabled="true" />

        <provider
            android:name="org.tvheadend.tvhclient.data.local.SuggestionProvider"
            android:authorities="org.tvheadend.tvhclient.data.local.SuggestionProvider"
            android:exported="false" />
        <receiver android:name=".data.local.NotificationReceiver" />

        <activity android:name=".ui.settings.SettingsManageConnectionActivity" />
        <activity android:name=".ui.recordings.common.RecordingAddEditActivity" />
        <activity android:name=".ui.recordings.recordings.RecordingDetailsActivity" />
        <activity android:name=".ui.programs.ProgramListActivity" />
        <activity android:name=".ui.misc.ChangeLogActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.NavigationActivity" />
        <activity android:name=".ui.programs.ProgramDetailsActivity" />
        <activity android:name=".ui.search.SearchActivity" />

    </application>
</manifest>
