<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.tvheadend.tvhclient.MainApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.tvheadend.tvhclient.MainApplication" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <activity android:name=".ui.features.settings.SettingsActivity" />
        <activity
            android:name=".ui.features.playback.external.ExpandedControlsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.features.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="tvhclient" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.features.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.features.programs.ProgramDetailsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".ui.features.playback.external.PlayRecordingActivity" />
        <activity android:name=".ui.features.playback.external.PlayChannelActivity" />
        <activity android:name=".ui.features.playback.external.CastChannelActivity" />
        <activity android:name=".ui.features.playback.external.CastRecordingActivity" />
        <activity android:name=".ui.features.playback.external.ShareRecordingActivity" />
        <activity android:name=".ui.features.dvr.recordings.download.DownloadRecordingActivity" />
        <activity
            android:name=".ui.features.playback.internal.PlaybackActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="smallestScreenSize|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />

        <service
            android:name="org.tvheadend.tvhclient.service.ConnectionService"
            android:exported="false" />
        <service
            android:name="org.tvheadend.tvhclient.service.ConnectionIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".ui.common.SuggestionProvider"
            android:authorities="org.tvheadend.tvhclient.ui.common.SuggestionProvider"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.tvheadend.tvhclient.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
