div.title {
	color:rgba(255,255,255,0.9);
	font-size:1.1em;
	margin-left:0.4em;
	margin-right:0.4em;
	margin-top:1.2em;
	margin-bottom:0.8em;
	text-align:left;
}
div.subtitle {
	color:rgba(255,255,255,0.75);
	font-size:1.0em;
	margin-left:0.4em;
	margin-right:0.4em;
	margin-top:0.6em;
	margin-bottom:0.6em;
}
div.content {
	color:rgba(255,255,255,0.6);
	font-size:0.9em;
	margin-left:0.4em;
	margin-right:0.4em;
	margin-top:0.6em;
	margin-bottom:0.6em;
}
li {
	color:rgba(255,255,255,0.6);
	font-size:0.9em;
}
div.list_title {
	font-size:1.0em;
	color:rgba(255,255,255,0.75);
	margin-top:0.8em;
	margin-bottom:0.2em;
	margin-left:0.6em;
	margin-bottom:0.0em;
	text-align:left;
}
div.list_content {
	color:rgba(255,255,255,0.6);
	font-size:0.9em;
	margin-left:0.6em;
	margin-right:0.4em;
	margin-top:0.2em;
	margin-bottom:0.8em;
}
a {
	color:rgba(255,255,255,0.6);
	font-size:1.0em;
}